<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Full Menu</h1>
    <% console.log(menu)%>
    <h2>Mains</h2>
    <% menu.forEach((item, i) =>{ %>
        <%if(item.category === 'mains'){ %>
            <h4><%= item.name %></h4>
            <p><%= item.price %></p>
            <p><%= item.rating %></p>
            <p><%= item.details %></p>
        <%}%>
    <%})%>
    <h2>Desserts</h2>
    <% menu.forEach((item, i) =>{ %>
        <%if(item.category === 'desserts'){ %>
            <h4><%= item.name %></h4>
            <p><%= item.price %></p>
            <p><%= item.rating %></p>
            <p><%= item.details %></p>
        <%}%>
    <%})%>
    <h2>Sides</h2>
    <% menu.forEach((item, i) =>{ %>
        <%if(item.category === 'sides'){ %>
            <h4><%= item.name %></h4>
            <p><%= item.price %></p>
            <p><%= item.rating %></p>
            <p><%= item.details %></p>
        <%}%>
    <%})%>
</body>
</html>